.vagrant/
*.log
ubuntu-*-cloudimg-console.log
ssh-keys/
*.pem
*.pub
id_rsa
*.retry
ansible/collections/
ansible/*.cfg.retry
app/__pycache__/
app/venv/
*.pyc
.vscode/
.idea/
.DS_Store
Thumbs.db
admin.conf
kubeconfig